<%= simple_form_for(@dream) do |f| %>
  <% if @dream.errors.any? %>
    <div id="error_explanation">

      <ul>
      <% @dream.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @dream.state < 3 %>

  <%= f.input :title %>
  <%= f.input :teaser %>


  <% else %>

  <%= f.input :title %>
  <%= f.input :teaser %>

  <% end %>

  <%= f.input :body %>

  <div>
    <%= f.submit "Submit", class: "btn" %>
    <%= link_to 'View this dream', @dream %>
    <%= link_to 'Return to my dreams', mydreams_dreams_path %>
  </div>

<% end %>