= simple_form_for(@dream) do |f|
  - if @dream.errors.any?
    #error_explanation
      %ul
        - @dream.errors.full_messages.each do |msg|
          %li= msg
  - if @dream.state < 3
    = f.input :title, :label => 'Title'
    = f.input :teaser, :label => 'Teaser - dream summary'
  - else
    = f.input :title, :label => 'Title'
    = f.input :teaser, :label => 'Teaser - dream summary'
  = f.input :body, :label => 'Body - dream details'
  = f.input :tag_list, :label => 'Tags - seperate using comma'
  %div
    = f.submit "Save", class: "btn"
    = link_to 'View this dream', @dream
    = link_to 'Return to my dreams', mydreams_dreams_path