.widget
  %h3
    %span Search
  .form-search
    = form_tag all_dreams_path, method: :get do
      = text_field_tag :query, params[:query]
      = submit_tag "Search", name: nil, class: "btn"
.widget
  %h3
    %span Recent
  %ul
    - @recent_dreams.each do |dream|
      - if dream.state == 3 || dream.state == 4
        %li= link_to dream.title, dream_path(dream)
.widget
  %h3
    %span Loved
  %ul
    - @loved_dreams.each do |dream|
      - if dream.state == 3 || dream.state == 4
        %li= link_to dream.title, dream_path(dream)
.widget
  %h3
    %span Tags
  %ul
    #tag_cloud
      - tag_cloud Dream.tag_counts, %w{s m l} do |tag, css_class|
        = link_to tag.name, tag_path(tag.name), class: css_class