<h3><span><%= controller.action_name.capitalize %> dreams</span></h3>
    <div class="entry"><% @dreams.each do |dream| %>
        <div class="matter">
            <h2><%= link_to dream.title, dream %></h2>         
            <div class="meta"><i class="icon-calendar"></i> <%= dream.created_at.strftime("%B %d, %Y") %> - <i class="icon-folder-open"></i> tag, tag - <i class="icon-comment"></i><%= dream.comments.count %></div> 
            <p><%= dream.teaser %></p>
            </br>
        </div>
    <% end %>

        
    </div>


    <%= will_paginate @dreams %>

    </div>

    <div class="span4">
        <%= render 'layouts/sidebar' %>
    </div>



