<section id="dreamlebody">
    <h2><%= @dream.title %></h2>
    <h3><%= @dream.teaser %></h3>

    <div class="textile">
        <%= @dream.body %>
    </div>
</section>


<%= link_to 'Edit', edit_dream_path(@dream) %> |
<%= link_to 'Back', dreams_path %>
