<div class="comments well">
  <h3><span class="comment-heading">Edit Your Profile</span></h3>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email %>
  <%= f.input :fullname, :label => 'Name displayed to readers' %>
  <%= f.input :weburl, :label => 'Your website', :placeholder => 'www.yourwebsite.com' %>
  <%= f.input :shortbio, :label => 'Tell us a bit about yourself' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <div><%= f.submit "Update My Profile", class: "btn" %></div>
<% end %>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>

</div>
