         <div class="span4">
            
               <div class="sidebar">
                  
                  <div class="widget">
                     <h3><span>Search</span></h3>
                     <div class="form">
                        <%= form_tag all_dreams_path, :method => 'get' do %> 
                          <%= text_field_tag :search, params[:search] %>
                          <%= submit_tag "Search", :name => 'nil', :class => "btn" %>
                        <% end %>
                     </div>
                  </div>
                  
                  <div class="widget">
                     <h3><span>Recent</span></h3>
                     <ul>
                        <% @recent_dreams.each do |dream| %>
                          <li><%= link_to dream.title, dream_path(dream) %></li>         
                        <% end %>
                     </ul>
                  </div>
               
                  <div class="widget">
                     <h3><span>Loved</span></h3>
                     <ul>
                        <% @loved_dreams.each do |dream| %>
                          <li><%= link_to dream.title, dream_path(dream) %></li>
                        <% end %>
                     </ul>
                  </div>

                  <div class="widget">
                     <h3><span>Tags</span></h3>
                     <ul>
                        <div id="tag_cloud"><% tag_cloud Dream.tag_counts, %w{s m l} do |tag, css_class| %>
                              <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                            <% end %>
                        </div>
                     </ul>
                  </div>
               </div>
         </div>


