!!!
%html
  %head
    %title Lucidly
    = stylesheet_link_tag "application", media: "all"
    = growlyflash_static_notices
    = javascript_include_tag "application"
    = csrf_meta_tag
    = render 'layouts/shim'
  %body
    = render 'layouts/header'
    .content
      .container
        .row
          = yield
  = render 'layouts/footer'
