<!DOCTYPE html>
<html>
<head>
  <title>Lucidly</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
  <%= render 'layouts/shim' %>
</head>

<body>
    <%= render 'layouts/header' %>
    <div class="container">
    <section id="maincontainer">
        <section id="flash">
            <% flash.each do |key, value| %>
                <div class="flash <%= key %>"><%= value %></div>
            <% end %>
        </section>
        <%= yield %>
    </div>

    <%= render 'layouts/footer' %>
</body>
</html>